@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.App-logo {
  height: 90vmin;
  max-height: 600px;
  pointer-events: none;
}

.App-header {
  background-color: #1a1b26;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

.App-container {
  max-width: 600px;
  border-radius: 20px 20px;
  display: flex;
  align-items: flex-end;
  margin: 20px 20px;
}

.App-navbar {
  position: fixed;
  left: 0;
  width: 100%;
  color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(9px);
  display: flex;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
   box-sizing: border-box; 
   align-items: center;
}

.App-navbar-button{
  text-decoration: none;
  display: flex;
}

.App-navbar-button-text{
  display: none;
}

/* Desktop Query */
@media only screen and (min-width: 1281px) {
  body{
    margin-left:250px;
  }
  .App-navbar {
    top: 0;
    height: 100vh;
    width: 250px;
    flex-direction: column;
    background-color: rgb(22, 22, 30);
    padding: 20px;
    padding-top: 100px;
  }

  .App-navbar-button{
    width: 200px;
    margin: 20px 0;
  }

  .App-navbar-button-text{
    display: inline-block;
  }
}

/* Tablet Query */
@media only screen and (min-width: 768px) and (max-width: 1281px) {
  body{
    margin-left:85px;
  }
  .App-navbar {
    top: 0;
    height: 100vh;
    width: 85px;
    flex-direction: column;
    background-color: rgb(22, 22, 30);
    padding-top: 100px;
  }
  .App-navbar-button{
    margin: 20px 0;
  }
  .App-navbar-button-text{
    display: none;
  }
}

/* Mobile Query */
@media only screen and (max-width:768px) {
  body{
    margin-bottom:85px;
  }
  .App-navbar {
    bottom: 0;
    height: 70px;
    justify-content: space-around;
    background-color: rgba(22, 22, 30, 0.75);
    padding-bottom: 15px;
    align-items: center;
  }
  .App-navbar-button-text{
    display: inline-block;
  }
  .App-navbar-button{
    flex-direction: column;
    align-items: center;
  }
}
