@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --1: #9972cb;
  --2: #C972CB; 
  --3: #ff7f82; 
  --4: #ffa260; 
  --5: #e4cb58;
  --6: #8fc866;
  --7: #19bc8b;
}

hr {
  height: 1px;
  color: #111111;
  background-color: #111111;
  border-width: 0;
}

h1 {
  color: white;
  margin: 0;
}

h2 {
  color: white;
}

h3 {
  color: white;
  font-weight: bold;
  margin: 6px;
}

p{
  color: white;
  margin: 0;
}



.App {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}

.App-logo {
  width: 100%;
  pointer-events: none;
}

.App-header {
  font-size: calc(18px + 1vmin);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
}

.App-container {
  position: relative;
  max-width: 400px;
  border-radius: 20px;
  display: flex;
}

.App-container-description {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  backdrop-filter: blur(50px);
  border-radius: 0 0 20px 20px;
  border-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-player {
  background: #8A2387;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App-navbar {
  position: fixed;
  left: 0;
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
   box-sizing: border-box; 
   align-items: center;
}

.App-navbar-button{
  text-decoration: none;
  display: flex;
  color: rgba(255, 255, 255, 0.7);
}

.App-navbar-button1:hover {
  color: var(--1);
}
.App-navbar-button2:hover{
  color: var(--2);
}
.App-navbar-button3:hover{
  color: var(--3);
}
.App-navbar-button4:hover{
  color: var(--4);
}

.App-navbar-button-text{
  display: none;
}

/* Desktop Query */
@media only screen and (min-width: 1281px) {
  body{
    margin-left:250px;
  }
  .App-navbar {
    top: 0;
    height: 100vh;
    width: 250px;
    flex-direction: column;
    background-color: rgb(22, 22, 30);
    padding: 20px;
    padding-top: 100px;
  }

  .App-navbar-button{
    width: 200px;
    margin: 20px 0;
  }

  .App-navbar-button-text{
    display: inline-block;
  }
}

/* Tablet Query */
@media only screen and (min-width: 768px) and (max-width: 1281px) {
  body{
    margin-left:85px;
  }
  .App-navbar {
    top: 0;
    height: 100vh;
    width: 85px;
    flex-direction: column;
    background-color: rgb(22, 22, 30);
    padding-top: 100px;
  }
  .App-navbar-button{
    margin: 20px 0;
  }
  .App-navbar-button-text{
    display: none;
  }
}

/* Mobile Query */
@media only screen and (max-width:768px) {
  body{
    margin-bottom:85px;
  }
  .App-navbar {
    bottom: 0;
    height: 75px;
    justify-content: space-around;
    background-color: rgba(20, 20, 20, 0.5);
    padding-bottom: 15px;
    align-items: center;
  }
  .App-navbar-button-text{
    display: inline-block;
  }
  .App-navbar-button{
    flex-direction: column;
    align-items: center;
  }
}
