@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  --1: #9972cb;
  --2: #C972CB; 
  --3: #ff7f82; 
  --4: #ffa260; 
  --5: #e4cb58;
  --6: #8fc866;
  --7: #19bc8b;
}

hr {
  height: 1px;
  color: #222222;
  background-color: #222222;
  border-width: 0;
}

h1 {
  color: white;
  margin: 0;
}

h2 {
  color: white;
  margin: 0;
}

h3 {
  color: white;
  font-weight: bold;
  margin: 6px 0px;
}

p{
  color: white;
  margin: 0;
}

table {
  color: white;
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}

tr {
  border-top: 1px solid #222222;
  border-bottom: 1px solid #222222;
  transition: all 0.2s;
}
tr:hover{
  background-color: #222222;
}

td {
  padding: 12px 0;
}

.Electric-violet {
  background: #4776e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4776e6, #8e54e9); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4776e6, #8e54e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.Health-gradient {
  background: #DCE35B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}
.Mana-gradient {
  background: #7F00FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 

}
.Damage-gradient {
  background: #ff416c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ff416c, #ff4b2b); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ff416c, #ff4b2b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.Armor-gradient {
  background: #36D1DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}
.Effect-gradient {
  background: #ff8008; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff8008, #ffc837); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff8008, #ffc837); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.Margin-right{
  margin-right: 5px;
}

.Margin-left{
  margin-left: 5px;
}

.Align-center{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.App {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}

.App-main{
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 900px;
  transition: all 1s;
}

.App-logo {
  width: 100%;
  pointer-events: none;
}

.App-header {
  font-size: calc(0.8vmin + 16px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.Background-grey{
  background-color: #141414;
}

.App-container {
  position: relative;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
}

.App-effect {
  position: relative;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  min-height: 80px;
  width: 100%;
  margin-top: 20px;
  overflow: hidden;
  padding: 13px 50px 20px 20px;
  box-sizing: border-box;
}

.App-button{
  background-color: transparent;
  border-color: transparent;
  border-radius: 20px;
  border-width: 0;
  margin: 0;
  padding: 0;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.App-form{
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  left: 0;
  background-color: rgba(20, 20, 20, 0.6);
  backdrop-filter: blur(10px);
  padding: 20px;
  box-sizing: border-box;
}

.App-form-container{
  width: 100%;
  background-color: black;
  max-width: 600px;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.App-form-input-text{
  width: 100%;
  background-color: #141414;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  border-width: 0;
  margin: 10px 0;
  color: white;
  font-size: small;
}

.App-form-input-submit{
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  border-width: 0;
  color: white;
  margin: 10px 0;
  width: 100%;
}

.App-form-select{
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  border-width: 0;
  color: white;
  background-color: #141414;
  margin: 10px 0;
  width: 100%;
  font-size: small;
}

.Horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.App-container-description {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  backdrop-filter: blur(25px);
  border-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 20px 20px;
}

.App-container-add-button {
  position: absolute;
  top: 10px;
  right: 10px;
  min-width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 0px 10px;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
   box-sizing: border-box; 
   color: white;
   cursor: pointer;

}

.App-container-add-button-relative {
  top: 10px;
  right: 10px;
  min-width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 0px 10px;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
   box-sizing: border-box; 
   cursor: pointer;
}

.App-player {
  background-image: url(./img/5.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
}

.App-navbar {
  position: fixed;
  left: 0;
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
   box-sizing: border-box; 
   align-items: center;
}

.App-navbar-button{
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);;
}

.App-navbar-button1:hover {
  color: var(--1);
}
.App-navbar-button2:hover{
  color: var(--2);
}
.App-navbar-button3:hover{
  color: var(--3);
}
.App-navbar-button4:hover{
  color: var(--4);
}

.App-navbar-button-text{
  display: none;
  padding-left: 20px;
}

/* Tablet Query */
@media only screen and (min-width: 768px) {
  body{
    margin-left:300px;
  }

  .active{
    background: #ff416c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ff416c, #ff4b2b); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ff416c, #ff4b2b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .App-navbar {
    top: 0;
    height: 100vh;
    width: 300px;
    flex-direction: column;
    align-items: baseline;
    background-color: rgb(10, 10, 10);
    padding: 40px 20px 20px 20px;
  }

  .App-navbar::before { 
    position: absolute; 
    top: 0;
    left: 300px;
    height: 100vh;
    width: 1px;
    background-color: #555555;
    content: '';
  }

  .App-navbar-button{
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    color: white;
  }

  .App-navbar-button:hover{
    background: #ff4b2b; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ff416c, #ff4b2b); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ff416c, #ff4b2b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
  }

  .App-navbar-button-icon{
    color: white;
  }

  .App-navbar-button-text{
    display: inline-block;
  }

  .App-navbar-header{
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 30px;
    align-items: center;
  }

  .App-navbar-icon{
    width: 70px;
    margin-right: 20px;
  }

  .App-player {
    max-height: 500px;
  }
  .App-logo {
    width: 60%;
  }
}

/* Mobile Query */
@media only screen and (max-width:768px) {
  body{
    margin-bottom:85px;
  }

  .active{
    color:  #ff4b2b;
  }

  .App-navbar {
    bottom: 0;
    height: 75px;
    justify-content: space-around;
    background-color: rgba(20, 20, 20, 0.5);
    padding-bottom: 15px;
    align-items: center;
  }
  .App-navbar-button-text{
    display: none;
  }
  .App-navbar-button{
    flex-direction: column;
    align-items: center;
  }
  .App-navbar-button:hover{
    color: #ff4b2b;
  }
  .App-navbar-header{
    display: none;
  }
}
