@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


.App {
  text-align: center;
  background-color: #1a1b26;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.App-bg-image{
  background-image: url("./img/vivid-blurred-colorful-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* Add the blur effect */
  filter: blur(0px);
  -webkit-filter: blur(0px);
  height: 100vh;
}s

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 90px;
  align-items: center;
  background-color: rgba(22,22,30,1);
}

.App-header-logo {
  position: relative;
  color: linear-gradient(to right, #5d00ff, #00acff);
  font-size: 32px;
  font-style: bold;
  float: left;
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 200px;
}

.App-link {
  color: #61dafb;
}

.App-sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 180px;
  background-color: rgb(22, 22, 30);
}

.App-sidenav::before{
  position: absolute;
  top: 0;
  left: 248px;
  display: block;
  content: '';
  width: 2px;
  height: 100vh;
  background: rgba(255,255,255,0.14);
}

.App-sidenav-btn {
  height: 54px;
  line-height: 54px;
  font-size: 18px;
  display: block;
  cursor: left;
  text-align: left;
  text-decoration: none;
  margin: 25px 20px;
  border-radius: 50px;
  position: relative;
  overflow:hidden;
  background: none;
  z-index: 1;
  transition:         0.15s ease-in;
  -o-transition:      0.15s ease-in;
  -ms-transition:     0.15s ease-in;
  -moz-transition:    0.15s ease-in;
  -webkit-transition: 0.15s ease-in;
}
.App-sidenav-btn:hover{
  color: white;
}

.App-sidenav-btn1{
  color: var(--1);
}
.App-sidenav-btn1:hover{
  background-color: var(--1);
}
.App-sidenav-btn2{
  color: var(--2);
}
.App-sidenav-btn2:hover{
  background-color: var(--2);
}
.App-sidenav-btn3{
  color: var(--3);
}
.App-sidenav-btn3:hover{
  background-color: var(--3);
}
.App-sidenav-btn4{
  color: var(--4);
}
.App-sidenav-btn4:hover{
  background-color: var(--4);
}
.App-sidenav-btn5{
  color: var(--5);
}
.App-sidenav-btn5:hover{
  background-color: var(--5);
}

.App-sidenav-btn-icon {
  margin: 0px 22px;
}

:root {
  --1: #9972cb;
  --2: #ef6eae; 
  --3: #ff7f82; 
  --4: #ffa260; 
  --5: #e4cb58;
  --6: #8fc866;
  --7: #19bc8b;
}

.App-content-char {
  margin: auto;
  height: 100vh;
}

.App-content-char-center {
  margin: auto;
  background: rgba(22,22,30,1);
  width: 400px;
  height: 100vh;
  transform: skew(25deg);
}

.Char-image{
  height: 85vh;
  position: absolute;
  bottom: 5%;
  right: 10%;
}

.App-content{
  margin: auto;
  padding-left: 250px;
  align-items: center;
  align-content: center;
}
